@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,600;1,700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1302px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 114px;
}

.header__logo {
  font-family: Roboto;
  font-weight: bold;
  font-size: 66px;
  line-height: 116.66667%;
  color: #ffffff;
}

.header__menu {
  margin: 0px 0px 0px 456px;
}

@media (max-width: 1320px) {
  .header__menu {
    margin: 0px 0px 0px 200px;
  }
}

@media (max-width: 1100px) {
  .header__menu {
    margin: 0px 0px 0px 100px;
  }
}

@media (max-width: 980px) {
  .header__menu {
    margin: 0px 0px 0px 50px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.menu__link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

@media (min-width: 1100px) {
  .menu__link:hover {
    text-decoration: underline;
    display: inline-block;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
}

.main-block {
  position: relative;
  color: #ffffff;
}

.main-block__body {
  position: relative;
  z-index: 2;
  padding: 191px 500px 171px 20px;
}

@media (max-width: 1320px) {
  .main-block__body {
    padding: 191px 300px 171px 20px;
  }
}

@media (max-width: 1100px) {
  .main-block__body {
    padding: 191px 200px 171px 20px;
  }
}

@media (max-width: 980px) {
  .main-block__body {
    padding: 151px 20px 121px 20px;
  }
}

@media (max-width: 780px) {
  .main-block__body {
    padding: 151px 20px 70px 20px;
  }
}

.main-block__title {
  font-weight: bold;
  font-size: 52px;
  line-height: 150%;
  margin-bottom: 16px;
}

@media (max-width: 980px) {
  .main-block__title {
    font-size: 32px;
  }
}

.main-block__text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  padding-right: 340px;
}

@media (max-width: 980px) {
  .main-block__text {
    padding-right: 0px;
  }
}

.main-block__buttons::before {
  content: "";
  display: block;
  position: absolute;
  right: 400px;
  bottom: 35px;
  background-size: cover;
  background: url(/img/Header_block_2.jpg) center no-repeat;
  width: 310px;
  height: 182px;
}

@media (max-width: 1100px) {
  .main-block__buttons::before {
    display: none;
  }
}

.main-block__buttons::after {
  content: "";
  display: block;
  position: absolute;
  right: 70px;
  bottom: 35px;
  background-size: cover;
  background: url(/img/Header_block_3.jpg) center no-repeat;
  width: 310px;
  height: 182px;
}

@media (max-width: 1100px) {
  .main-block__buttons::after {
    display: none;
  }
}

.main-block__button {
  color: inherit;
  background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  line-height: 370%;
  padding: 0 43px;
}

.main-block__button:hover {
  background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
