@import"_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,600;1,700&family=Roboto:wght@400;700&display=swap');
body {
	font-size: 16px;
	font-family: Poppins;
	font-weight: 400;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: url(/img/background_all.png) 50% 53.2% no-repeat;
}
._container {
	max-width: 1302px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;	
}

._ibg {
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;

}

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;

		&__container {
			display: flex;
			align-items: center;
			min-height: 114px;
			@media (max-width: 600px) {
				flex-direction: column;
				align-items: flex-start;
				padding: 0 30px;
			}
		}

		&__logo {
			font-family: Roboto;
			font-weight: bold;
			font-size: 66px;
			line-height: 77 / 66 * 100%;
			color: #ffffff;
		}

		&__menu {
			margin: 0px 0px 0px 456px;
			@media (max-width: 1320px) {
				margin: 0px 0px 0px 200px;
			}
			@media (max-width: 1100px) {
				margin: 0px 0px 0px 100px;
			}
			@media (max-width: 980px) {
				margin: 0px 0px 0px 50px;
			}
			@media (max-width: 600px) {
				margin: 0;
			}
		}
}

.menu {
	
		&__list {
			display: flex;
			flex-wrap: wrap;
			
		}

		&__item:not(:last-child) {
			margin: 0 40px 0 0;
			}

		&__link {
			font-family: Poppins;
			font-weight: 500;
			font-size: 16px;
			line-height: 24 / 16 * 100%;
			color: #ffffff;
		}
		&__link:hover {
			@media (min-width: 1100px) {
			text-decoration: underline;
			display: inline-block;
			transform: scale(1.5);
			transition: all 0.1s linear;
			}
		}
}
//---------------------main block-----------------------
.page {
		&__main-block {
		}
}
.main-block {

	position: relative;
	color: #ffffff;
		&__container {

		}
		&__body {
			position: relative;
			z-index: 2;
			padding: 191px 500px 171px 20px;
			@media (max-width: 1320px) {
				padding: 191px 300px 171px 20px;
			}
			@media (max-width: 1100px) {
				padding: 191px 200px 171px 20px;
			}
			@media (max-width: 980px) {
				padding: 151px 20px 121px 20px;
			}
			@media (max-width: 780px) {
				padding: 151px 20px 70px 20px;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 52px;
			line-height: 78 / 52 *100%;
			margin-bottom: 16px;
			@media (max-width: 980px) {
				font-size: 32px;
			}
		}

		&__text {
			margin-bottom: 32px;
			font-weight: 500;
			font-size: 16px;
			line-height: 170%;
			padding-right: 340px;
			@media (max-width: 980px) {
				padding-right: 0px;
			}
		}

		&__buttons::before {
			content: "";
			display: block;
			position: absolute;
			right: 400px;
			bottom: 35px;
			background-size: cover;
			background: url(/img/Header_block_2.jpg) center no-repeat;
			width: 310px;
			height: 182px;
			@media (max-width: 1100px) {
				display: none;
			}
		}
		
		&__buttons::after {
			content: "";
			display: block;
			position: absolute;
			right: 70px;
			bottom: 35px;
			background-size: cover;
			background: url(/img/Header_block_3.jpg) center no-repeat;
			width: 310px;
			height: 182px;
			@media (max-width: 1100px) {
				display: none;
			}
		}

		&__button {
			color: inherit;
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 370%;
			padding: 0 43px;
		}
		&__button:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}

		&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		}
}
//-------------------------------our-company------------------------------
.page {

		&__our-company {
		}
}
.our-company {

		&__body {
			margin: 100px 0;
			display: flex;
			@media (max-width: 912px) {
				flex-wrap: wrap;
				flex-direction: column-reverse;
			}
			@media (max-width: 780px) {
				margin: 20px 0;
			}
		}

		&__pro-licensed {
			flex: 0 1 50%;
			padding: 0px 0px 33% 0px;
			@media (max-width: 912px) {
				flex: 0 1 100%;
				min-height: 419px;
			}
			
		}
		&__pro-licensed img {
			object-fit: cover;
			max-height: 419px;
		}

		&__content {
			flex: 0 1 50%;
			padding: 0px 0px 0px 130px;
			@media (max-width: 912px) {
				flex: 0 1 100%;
				margin-bottom: 40px;
			}
			@media (max-width: 1320px) {
				padding: 0px 0px 0px 30px;
			}
			@media (max-width: 780px) {
				margin-top: 20px;
				padding: 0px 0px 0px 0px;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 24px;
			line-height: 170%;
			color: #056088;
			margin: 0px 0px 16px 0px;
		}

		&__text {
			font-size: 16px;
			line-height: 180%;
			color: #434343;
			padding-right: 105px;
		}
		&__text p {
			margin: 0px 0px 16px 0px;
		}

		&__achievements span {
			font-weight: bold;
			font-size: 20px;
			line-height: 170%;
			color: #056088;
			display: inline-block;
		}

		&__achievements span:not(last-child) {
			padding-right: 52px;
		}

		&__buttons {
			margin: 32px 0px 0px 0px;
		}

		&__button {
			color: inherit;
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 370%;
			padding: 0 43px;
			color: rgb(255, 255, 255);
		}
		&__button:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}
}
//-------------------------------our-services-------------------------------
.page {

		&__our-services {
		}
}
.our-services {

		&__container {
		}

		&__header {
		}

		&__body {
			display: flex;
			justify-content: space-between;
			margin: 32px -10px 0;
			flex-wrap: wrap;
			@media (max-width:599px) {
				margin: 12px -10px 0;
			}
		}

		&__column {
			min-height: 240px;
			flex: 0 1 25%;
			padding: 0 10px;
			@media (max-width:1150px) {
				flex: 0 1 50%;
			}
			@media (max-width:599px) {
				flex: 0 1 100%;
			}
			
		}

		&__item {
			padding: 20px 40px 0px 30px;
			height: 100%;
			@media (max-width:599px) {
				padding: 20px 40px 0px 10px;
				margin: 0;
				max-width: none;
			}

			
			&_blue {
				background: url(/img/our-services_backgr.jpg) center  no-repeat;
				background-size: 100% 100%;
			}
			&_blue h3 {
				color: white;
			}
			&_blue div {
				color: white;
			}
		}

		&__icon {
			margin-bottom: 16px;

		}

		&__title {
			font-weight: bold;
			font-size: 20px;
			line-height: 170%;
			color: #434343;
			margin-bottom: 16px;
		}

		&__text {
			line-height: 170%;
			color: #434343;
		}
}

.header-block {

		&__title {
			font-weight: bold;
			font-size: 24px;
			line-height: 170%;
			color: #056088;
			text-align: center;
			margin-bottom: 16px;
		}

		&__subtitle {
			font-size: 16px;
			line-height: 180%;
			text-align: center;
		}
}
//-------------------------our-benefits----------------------------------------
.page {

		&__our-benefits {
		}
}
.our-benefits {

		&__header {
		}

		&__body {
			display: flex;
			margin: 0 -10px;
			@media (max-width:1150px) {
				flex-wrap: wrap;
			}

		}

		&__column {
			flex: 0 1 33.333%;
			margin: 0 10px;
			
			@media (max-width:1150px) {
				flex: 0 1 46%;
			}
			@media (max-width:810px) {
				flex: 0 1 100%;
				margin: 10px 0;
			}
		}

		&__column:nth-child(1) {
			background: url(/img/our-benefits_background.jpg) no-repeat;
			background-size: 100%;
		}

		&__column:nth-child(2) {
			background: url(/img/our-benefits_background_2.jpg)no-repeat;
			background-size: 100%;
		}

		&__column:nth-child(3) {
			background: url(/img/our-benefits_background_3.jpg)no-repeat;
			background-size: 100%;
			@media (max-width:1150px) {
				margin: 2% 25% 0;
			}
			@media (max-width:810px) {
				margin: 10px 0;
			}
		}

		&__item {
			height: 0;
			padding-bottom: 74.5%;
			text-align: center;
		}

		&__icon {
			padding: 10% 0 5% 0;
			
		}

		&__title {
			font-weight: bold;
			font-size: 20px;
			line-height: 170%;
			color: #FFFFFF;
			padding: 0 0 5% 0;
		}

		&__text {
			line-height: 170%;
			color: #FFFFFF;
			
		}
}
.benefits__text_1 {
	padding: 0 25%;
}
.benefits__text_2 {
	padding: 0 12%;
}
.benefits__text_3 {
	padding: 0 13%;
}
.header-block {

		&__title {
			margin-top: 100px;
			@media (max-width:810px) {
				margin-top: 0px;
			}
		}

		&__subtitle {
			margin-bottom: 32px;
		}
}
//-------------------------------our-works-------------------------------
.page {

		&__our-works {
		}
}
.our-works {

		&__container {
		}

		&__header {

		}

		&__body-img {
			max-height: 460px;
			display: flex;
			justify-content: space-between;
			margin: 0 -10px;
		}

		&__column1 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0px 10px;
			
			
			
		}

		&__column1-row1 {
			
		}

		&__column1-row2 {
		}

		&__column2 {
			padding: 0px 10px;
		}

		&__column3 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0px 10px;
		}

		&__column3-row1 {
			
		}

		&__column3-row2 {
			
		}

		&__column4 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 10px;
			@media (max-width:810px) {
				display: none;
			}

		}

		&__column4-row1 {
			display: flex;
			justify-content: space-between;
			
		}

		&__column4-row1-leftcolumn {
			padding-right: 20px;
		}

		&__column4-row1-righttcolumn {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			
		}

		&__column4-row1-righttcolumn1 {
			overflow: hidden;

		}

		&__column4-row1-righttcolumn2 {
			overflow: hidden;
			padding-top: 20px;
		}

		&__column4-row2 {
			padding-top: 20px;
			
		}
}

._ibg1 {

}
._ibg1 img {
width: 100%;
height: 100%;
object-fit: cover;
}
.white {
	color: white;
}

.our-works {

		&__buttons-block {
			display: flex;
			margin: 32px 0 100px;
			justify-content: flex-end;
		}
}
.buttons-block {

		&__line {
			border-top: 3px solid white;
			width:55%;
			margin-top: 33px;
			margin-right: 40px;
			border-color: #056088;
		}

		&__btn {
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 415%;
			padding: 0 43px;
		}
		&__btn:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}
		&__btn a {
			color: white;
		}
}

.our-works {

		&__say-clients {
		}
}
.say-clients {

		&__body {
			display: flex;
		}

		&__column {
			
		}

		&__item {
			background-color: white;
			padding: 50px 33px;
			width: 331px;
		}

		&__title {
			font-weight: bold;
			font-size: 24px;
			line-height: 170%;
			color: #056088;
			margin-bottom: 16px;
		}

		&__text {
			font-size: 16px;
			line-height: 180%;
			color: #434343;
			margin-bottom: 32px;
		}

		&__btn {
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 400%;
			padding: 0 43px;
		}
		&__btn:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}
		&__btn a {
			color: white;
		}

		&__image {
			
		}

		&__image img {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		}

		&__rewiew-column {
			background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
			color: white;
			max-width: 416px;
			padding: 59px 24px 29px 50px;
			margin-left: auto;
			margin-right: 0; 
			margin-top: -190px;
			position: relative;
			z-index: 2;
			@media (max-width:810px) {
				margin: 0 auto;
				margin-top: 90px;
			}
		}

		&__rewiew-body {
		}
		&__rewiew-body p:nth-child(1) {
			font-style: italic;
			line-height: 170%;
			margin-bottom: 16px;
		}
		&__rewiew-body p:nth-child(2) {
			font-style: italic;
			font-weight: 600;
			font-size: 16px;
			line-height: 170%;
		}
		&__rewiew-foto {
			position: absolute;
			z-index: 3;
			top: -50px;
			left: -50px;
		}
}
//-------------------partners---------------------------------------
.page {

		&__our-partners {
		}
}
.our-partners {

		&__column {
			display: flex;
			justify-content: space-between;
			margin: 105px 0;
			@media (max-width:810px) {
				margin: 50px 0;
				flex-wrap: wrap;
			}
		}

		&__item {
			@media (max-width:810px) {
				padding: 20px 10px;
			}

			&_blue {
				font-weight: bold;
				font-size: 24px;
				line-height: 170%;
				color: #056088;
			}
		}
}
//--------------------video-------------------------
.page {

		&__video {

		}
}
.video {

		&__body {
			position: relative;
			padding: 0px 0px 38% 0px; //высчит от ширины боди, так как чет хз.
			margin: 0 8%;
			margin-bottom: 98px;
			@media (max-width:810px) {
				margin: 0px;
				margin-bottom: 98px;
			}
		}

		&__body iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}

		&__title-block {
			position: absolute;
			z-index: 1;
			background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
			max-width: 416px;
			bottom: 0;
			right: 0;
			margin-bottom: -19px;
			margin-right: -1px;
			@media (max-width:810px) {
				max-width: 640px;
				margin-right: 0px;
			}
		}
		&__title-block:hover {
			display: none;
		}

		&__title-text {
			line-height: 180%;
			color: white;
			padding: 32px 67px 39px 53px;
			@media (max-width:810px) {
				padding: 5px;
			}
		}
}
//---------------------subscribe-----------------------------
.page {

		&_subscribe {
		}
}
.subscribe {

		&__block {
			background: url(/img/subscribe.png) 0 0 no-repeat;
		}

		&__content {
			padding: 55px 0;
			color: white;
			max-width: 640px;
			text-align: center;
			margin: 0 auto;
		}

		&__title {
			font-weight: bold;
			font-size: 52px;
			line-height: 150%;
			margin-bottom: 16px;
			@media (max-width:810px) {
				font-size: 32px;
			}
		}

		&__text {
			font-weight: 500;
			font-size: 16px;
			line-height: 170%;
			padding: 0 10%;
			margin-bottom: 32px;
		}

		&__form {
			display: flex;
			justify-content: center;
			@media (max-width:810px) {
				padding: 0 10%;
			}
		}

		&__input {
			min-height: 62px;
			flex: 1 1 auto;
			padding-left: 30px;
		}

		&__input:hover, &__button:hover {
			box-shadow: 3px 4px 25px 5px rgba(255, 255, 255, 0.5);
		}

		&__button {
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 390%;
			padding: 0 29px;
			color: inherit;
		}
		&__button:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}
}
//-------------------------------footer------------------------------
.footer {
	background: #023957;
	margin-top: 100px;

		&__main {
			
		}

		&__row {
			display: flex;
			justify-content: space-around;
			padding: 60px 0px 74px 0px;
			@media (max-width:810px) {
				flex-wrap: wrap;
				padding: 10px 0px 24px 0px;
			}
		}

		&__column {
			@media (max-width:810px){
				order: 2;
				margin-top: 50px;
			}
		}

		&__column:not(:first-child) {
			padding-top: 20px;
			@media (max-width:810px){
				order: 1;
				flex: 0 1 50%;
			}
		}

		&__logo {
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 66px;
			line-height: 116.6%;
			color: white;
			margin-bottom: 16px;
		}

		&__contacts {
			font-size: 16px;
			line-height: 150%;
			margin-bottom: 32px;
			max-width: 190px;
			font-family: sans-serif;
		}

		&__contacts a {
			color: white;
		}

		&__button {
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 430%;
			padding: 0 25px;
		}
		&__button:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}
		&__button a {
			color: white;
		}

		&__title {
			font-weight: bold;
			font-size: 24px;
			line-height: 170%;
			color: white;
		}
}

.contacts-footer {

		&__item {
			
			&_map {
				
			}
			&_map:hover {
				text-decoration: underline;
			}
		}
}
.menu-footer {
	margin-bottom: 32px;
	@media (max-width:810px) {
		margin-bottom: 10px;
	}
		&__list {
			
		}

		&__item {
			margin-bottom:16px;
			
		}

		&__link {
				font-size: 16px;
				line-height: 150%;
				color: white;
				font-family: sans-serif;
			}
			&__link:hover {
				text-decoration-line: underline;
			}
}
.footer__bottom {
	font-size: 16px;
	line-height: 170%;
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
	color: #434343;
}

.page {
	flex: 1 1 auto;
}