@import"_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,600;1,700&family=Roboto:wght@400;700&display=swap');
body {
	font-size: 16px;
	font-family: Poppins;
	font-weight: 400;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1302px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;

}

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;

		&__container {
			display: flex;
			align-items: center;
			min-height: 114px;
			@media (max-width: 600px) {
				flex-direction: column;
				align-items: flex-start;
				padding: 0 30px;
			}
		}

		&__logo {
			font-family: Roboto;
			font-weight: bold;
			font-size: 66px;
			line-height: 77 / 66 * 100%;
			color: #ffffff;
		}

		&__menu {
			margin: 0px 0px 0px 456px;
			@media (max-width: 1320px) {
				margin: 0px 0px 0px 200px;
			}
			@media (max-width: 1100px) {
				margin: 0px 0px 0px 100px;
			}
			@media (max-width: 980px) {
				margin: 0px 0px 0px 50px;
			}
			@media (max-width: 600px) {
				margin: 0;
			}
		}
}

.menu {
	
		&__list {
			display: flex;
			flex-wrap: wrap;
			
		}

		&__item:not(:last-child) {
			margin: 0 40px 0 0;
			}

		&__link {
			font-family: Poppins;
			font-weight: 500;
			font-size: 16px;
			line-height: 24 / 16 * 100%;
			color: #ffffff;
		}
		&__link:hover {
			@media (min-width: 1100px) {
			text-decoration: underline;
			display: inline-block;
			transform: scale(1.5);
			transition: all 0.1s linear;
			}
		}
}
//---------------------main block-----------------------
.page {
		&__main-block {
		}
}
.main-block {

	position: relative;
	color: #ffffff;
		&__container {

		}
		&__body {
			position: relative;
			z-index: 2;
			padding: 191px 500px 171px 20px;
			@media (max-width: 1320px) {
				padding: 191px 300px 171px 20px;
			}
			@media (max-width: 1100px) {
				padding: 191px 200px 171px 20px;
			}
			@media (max-width: 980px) {
				padding: 151px 20px 121px 20px;
			}
			@media (max-width: 780px) {
				padding: 151px 20px 70px 20px;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 52px;
			line-height: 78 / 52 *100%;
			margin-bottom: 16px;
			@media (max-width: 980px) {
				font-size: 32px;
			}
		}

		&__text {
			margin-bottom: 32px;
			font-weight: 500;
			font-size: 16px;
			line-height: 170%;
			padding-right: 340px;
			@media (max-width: 980px) {
				padding-right: 0px;
			}
		}

		&__buttons {
		}

		&__buttons::before {
			content: "";
			display: block;
			position: absolute;
			right: 400px;
			bottom: 35px;
			background-size: cover;
			background: url(/img/Header_block_2.jpg) center no-repeat;
			width: 310px;
			height: 182px;
			@media (max-width: 1100px) {
				display: none;
			}
		}
		
		&__buttons::after {
			content: "";
			display: block;
			position: absolute;
			right: 70px;
			bottom: 35px;
			background-size: cover;
			background: url(/img/Header_block_3.jpg) center no-repeat;
			width: 310px;
			height: 182px;
			@media (max-width: 1100px) {
				display: none;
			}
		}

		&__button {
			color: inherit;
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 370%;
			padding: 0 43px;
		}
		&__button:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}

		&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		}
}
//-------------------------------our-company------------------------------
.page {

		&__our-company {
		}
}
.our-company {

		&__container {
		}

		&__body {
			margin: 100px 0;
			display: flex;
			@media (max-width: 912px) {
				flex-wrap: wrap;
				flex-direction: column-reverse;
			}
			@media (max-width: 780px) {
				margin: 20px 0;
			}
		}

		&__pro-licensed {
			flex: 0 1 50%;
			padding: 0px 0px 33% 0px;
			@media (max-width: 912px) {
				flex: 0 1 100%;
				min-height: 419px;
			}
			
		}
		&__pro-licensed img {
			object-fit: cover;
			max-height: 419px;
		}

		&__content {
			flex: 0 1 50%;
			padding: 0px 0px 0px 130px;
			@media (max-width: 912px) {
				flex: 0 1 100%;
				margin-bottom: 40px;
			}
			@media (max-width: 1320px) {
				padding: 0px 0px 0px 30px;
			}
			@media (max-width: 780px) {
				margin-top: 20px;
				padding: 0px 0px 0px 0px;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 24px;
			line-height: 170%;
			color: #056088;
			margin: 0px 0px 16px 0px;
		}

		&__text {
			font-size: 16px;
			line-height: 180%;
			color: #434343;
			padding-right: 105px;
		}
		&__text p {
			margin: 0px 0px 16px 0px;
		}


		&__achievements span {
			font-weight: bold;
			font-size: 20px;
			line-height: 170%;
			color: #056088;
			display: inline-block;
		}

		&__achievements span:not(last-child) {
			padding-right: 52px;
		}

		&__buttons {
			margin: 32px 0px 0px 0px;
		}

		&__button {
			color: inherit;
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 370%;
			padding: 0 43px;
			color: rgb(255, 255, 255);
		}
		&__button:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}
}
//-------------------------------our-services-------------------------------
.page {

		&__our-services {
		}
}
.our-services {

		&__container {
		}

		&__header {
		}

		&__body {
			display: flex;
			justify-content: space-between;
			margin: 32px -10px 0;
			flex-wrap: wrap;
			@media (max-width:599px) {
				margin: 12px -10px 0;
			}
		}

		&__column {
			min-height: 240px;
			flex: 0 1 25%;
			padding: 0 10px;
			@media (max-width:1150px) {
				flex: 0 1 50%;
			}
			@media (max-width:599px) {
				flex: 0 1 100%;
			}
			
		}

		&__item {
			padding: 20px 40px 0px 30px;
			height: 100%;
			@media (max-width:599px) {
				padding: 20px 40px 0px 10px;
			}

			
			&_blue {
				background: url(img/our-services_backgr.jpg) center  no-repeat;
				background-size: 100% 100%;
			}
			&_blue h3 {
				color: white;
			}
			&_blue div {
				color: white;
			}
		}

		&__icon {
			margin-bottom: 16px;

		}

		&__title {
			font-weight: bold;
			font-size: 20px;
			line-height: 170%;
			color: #434343;
			margin-bottom: 16px;
		}

		&__text {
			line-height: 170%;
			color: #434343;
		}
}

.header-block {

		&__title {
			font-weight: bold;
			font-size: 24px;
			line-height: 170%;
			color: #056088;
			text-align: center;
			margin-bottom: 16px;
		}

		&__subtitle {
			font-size: 16px;
			line-height: 180%;
			text-align: center;
		}
}











.page {
	flex: 1 1 auto;
}