@import"_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,600;1,700&family=Roboto:wght@400;700&display=swap');
body {
	font-size: 16px;
	font-family: Poppins;
	font-weight: 400;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1302px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;

}

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;

		&__container {
			display: flex;
			align-items: center;
			min-height: 114px;
			@media (max-width: 600px) {
				flex-direction: column;
				align-items: flex-start;
				padding: 0 30px;
			}
		}

		&__logo {
			font-family: Roboto;
			font-weight: bold;
			font-size: 66px;
			line-height: 77 / 66 * 100%;
			color: #ffffff;
		}

		&__menu {
			margin: 0px 0px 0px 456px;
			@media (max-width: 1320px) {
				margin: 0px 0px 0px 200px;
			}
			@media (max-width: 1100px) {
				margin: 0px 0px 0px 100px;
			}
			@media (max-width: 980px) {
				margin: 0px 0px 0px 50px;
			}
			@media (max-width: 600px) {
				margin: 0;
			}
		}
}

.menu {
	
		&__list {
			display: flex;
			flex-wrap: wrap;
			
		}

		&__item:not(:last-child) {
			margin: 0 40px 0 0;
			}

		&__link {
			font-family: Poppins;
			font-weight: 500;
			font-size: 16px;
			line-height: 24 / 16 * 100%;
			color: #ffffff;
		}
		&__link:hover {
			@media (min-width: 1100px) {
			text-decoration: underline;
			display: inline-block;
			transform: scale(1.5);
			transition: all 0.1s linear;
			}
		}
}
//---------------------main block-----------------------
.page {
		&__main-block {
		}
}
.main-block {

	position: relative;
	color: #ffffff;
		&__container {

		}
		&__body {
			position: relative;
			z-index: 2;
			padding: 191px 500px 171px 20px;
			@media (max-width: 1320px) {
				padding: 191px 300px 171px 20px;
			}
			@media (max-width: 1100px) {
				padding: 191px 200px 171px 20px;
			}
			@media (max-width: 980px) {
				padding: 151px 20px 121px 20px;
			}
			@media (max-width: 780px) {
				padding: 151px 20px 70px 20px;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 52px;
			line-height: 78 / 52 *100%;
			margin-bottom: 16px;
			@media (max-width: 980px) {
				font-size: 32px;
			}
		}

		&__text {
			margin-bottom: 32px;
			font-weight: 500;
			font-size: 16px;
			line-height: 170%;
			padding-right: 340px;
			@media (max-width: 980px) {
				padding-right: 0px;
			}
		}

		&__buttons {
		}

		&__buttons::before {
			content: "";
			display: block;
			position: absolute;
			right: 400px;
			bottom: 35px;
			background-size: cover;
			background: url(img/Header_block_2.jpg) center no-repeat;
			width: 310px;
			height: 182px;
			@media (max-width: 1100px) {
				display: none;
			}
		}
		
		&__buttons::after {
			content: "";
			display: block;
			position: absolute;
			right: 70px;
			bottom: 35px;
			background-size: cover;
			background: url(img/Header_block_3.jpg) center no-repeat;
			width: 310px;
			height: 182px;
			@media (max-width: 1100px) {
				display: none;
			}
		}

		&__button {
			color: inherit;
			background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			line-height: 370%;
			padding: 0 43px;
		}
		&__button:hover {
			background: linear-gradient(104.58deg, #043d55 10.57%, #077992 96.62%);
		}

		&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		}
}


























